@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --cardBackground: #eeeeee;
  --cardTextColor: #000000;
  --cardPadding: 10px;
  --cardBorderRadius: 10px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
